:root {
    --main-bg-color: #636e72;
    --main-color: #d2dae2;
}

body,
html {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Tajawal', sans-serif;
    position: relative;
    overflow-x: hidden;
    background: var(--main-color);
}

.navbar {
    width: 100%;
    height: 50px;
    background: var(--main-bg-color);
    color: var(--main-color);
    border: none;
    border-radius: 0;
    box-shadow: 7px 7px 24px rgb(31, 29, 29);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.navbar-default .navbar-nav>li>a {
    color: var(--main-color);
    font-weight: bolder;
    font-size: 1.2em;
}

.navbar-default .navbar-nav>li>a:hover {
    color: var(--main-bg-color);
    background: var(--main-color);
}

.navbar-default .navbar-nav>.active>a {
    background: transparent;
}

.navbar-collapse {
    background: var(--main-bg-color);
}

.navbar-brand {
    font-size: 2.5rem;
    font-weight: bolder;
    letter-spacing: 1px;
    color: #ffffff;
}

.co-name {
    margin: 9rem auto 2rem auto;
    padding: 10px;
    color: #fff;
    position: relative;
    width: 300px;
    text-shadow: var(--main-bg-color) 5px 5px 3px;
}

.co-name::after {
    content: '';
    width: 100%;
    height: 3px;
    background: var(--main-bg-color);
    position: absolute;
    bottom: -10px;
    left: 0;
    box-shadow: var(--main-bg-color) 4px 4px 4px;
}

/* start content */

.content {
    margin: 10rem 0;
}

.content .image {
    height: 600px;
    box-shadow: 4px 4px 4px rgba(51, 49, 49, 0.2);
    position: relative;
    margin: 3rem auto;
}

.content .image::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #3498db;
    opacity: 0.1;
    transition: all 0.5s ease-in-out;
    -webkit-transition: ;
    -moz-transition: ;
    -ms-transition: ;
    -o-transition: ;
}

.content .image:hover::after {
    opacity: 0.4;
}

.content .image img {
    width: 100%;
    height: 100%;
}

.content .par {
    background: #fff;
    max-height: 900px;
    transition: all 0.3s ease-in-out;
    border: 1px solid #ddd;
    padding: 6rem 1.5rem;
    margin: 3rem auto;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.content .par:hover,
.content .image:hover {
    box-shadow: 4px 4px 4px rgb(170, 163, 163);
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}

.content .par button a {
    color: #fff;
}

/* start footer */

footer {
    background: var(--main-bg-color);
    color: #fff;
    padding: 2.5em 0;
}

footer ul {
    text-align: center;
}

footer ul li {
    display: inline-block;
    margin: 0 2rem;
}

footer ul li a {
    text-decoration: none;
    width: 60px;
    background: hsla(0, 0%, 100%, 0.2);
    display: inline-block;
}

footer ul li a .fa {
    font-size: 4rem;
    width: 100%;
    color: #fff;
    background: hsla(0, 0%, 100%, 0.2);
    padding: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

footer ul li a .fa:hover {
    color: #1b9cfc;
    transition: color 0.3s ease-in-out;
    -webkit-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
}

footer .rights {
    display: block;
    text-align: center;
}

footer .rights a {
    color: var(--main-color);
    text-decoration: var(--main-color);
    cursor: pointer;
    font-size: 2em;
    font-weight: bolder;
}

/* my global style  */
a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

.scroll {
    width: 30px;
    height: 30px;
    position: fixed;
    right: 30px;
    bottom: 60px;
    text-align: center;
    display: none;
    z-index: 10000;
    transform: rotate(180deg);
    background: #fff;
    padding: 3px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: -3px -3px 5px #333;
}

.scroll .fa:hover {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transition: all 0.5s ease-in-out;
}

.top-call {
    position: fixed;
    top: 0%;
    left: 30px;
    z-index: 4;
    animation: bounce 0.5s infinite linear alternate;
}

.bottom-call {
    position: fixed;
    bottom: 1%;
    right: 20px;
    z-index: 4;
    animation: bounce 0.5s infinite linear alternate;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2px);
    }

    100% {
        transform: translateY(2px);
    }
}

.bottom-call:hover,
.top-call:hover {
    animation: none;
    -webkit-animation: none;
}